/* 
    Document   : style.css
*/

@font-face {
    font-family: "CitizenCarto";
    src: url("CitizenCarto.ttf");
}

.menubar{
    -fx-font-size: 16pt;
    -fx-font-family: "CitizenCarto";
    -fx-background: rgb(0, 0, 0);
    -fx-base: rgb(255, 255, 255);
}

.root{
    -fx-font-size: 16pt;
    -fx-font-family: "CitizenCarto";
    -fx-background: rgb(255, 255, 255);
    -fx-base: rgb(255, 255, 255);
}

.button{
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
    -fx-text-fill: rgb(49, 89, 23);
}

.borders{
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-style: dotted;
    -fx-border-width: 1.5;
    -fx-border-insets: -5;
}

.grid-pane {
    -fx-padding: 0;
    -fx-border-color: black;
    -fx-border-width: 0;
    -fx-hgap: 0; /* Horizontal gap between cells */
    -fx-vgap: 0; /* Vertical gap between cells */
}

.grid-pane .text-field {
    -fx-text-box-border: transparent;

    /* I don't know why, but this removes the ugly shadow*/
    -fx-background-color: transparent, -fx-control-inner-background;

    -fx-display-caret: false;
    -fx-background-insets: 0;
    -fx-padding: 0 0 0 15px;
    -fx-font-size: 40;
    -fx-font-family: "Avenir";
    -fx-font-weight: medium;
    -fx-highlight-fill: null;
    -fx-highlight-text-fill: null;
    -fx-max-width: 60;
    -fx-max-height: 60;
    -fx-min-width: 60;
    -fx-min-height: 60;
    -fx-border-color: rgb(0, 0, 0); /* Default light borders for all cells */
    -fx-border-width: 0; /* Thinner borders within subgrids */
}

.text-field-selected {
    -fx-background-color: rgb(241, 242, 244) !important;
}

.text-field-highlight {
    -fx-background-color: rgb(215, 217, 228);
}


.grid-pane .right-border {
    -fx-border-color: black;
    -fx-border-width: 0 2 1 0;
}

.grid-pane .bottom-border {
    -fx-border-color: black; 
    -fx-border-width: 0 1 2 0;
}

.grid-pane .bottom-right-border {
    -fx-border-color: black; 
    -fx-border-width: 0 2 2 0;
}

.grid-pane .bottom-left-border {
    -fx-border-color: black; 
    -fx-border-width: 0 1 2 2;
}

.grid-pane .top-border {
    -fx-border-color: black; 
    -fx-border-width: 2 1 1 0;
}

.grid-pane .top-right-border {
    -fx-border-color: black; 
    -fx-border-width: 2 2 1 0;
}

.grid-pane .top-left-border {
    -fx-border-color: black; 
    -fx-border-width: 2 1 1 2;
}

.grid-pane .left-border {
    -fx-border-color: black; 
    -fx-border-width: 0 1 1 2;
}

.grid-pane .inner-border {
    -fx-border-color: black; 
    -fx-border-width: 0 1 1 0;
}

.text-field-hint.text-field-highlight {
    -fx-background-color: rgb(241, 235, 228) !important;
}
.text-field-hint {
    -fx-background-color: rgb(255, 246, 235) !important;
}

.grid-pane {
    -fx-padding: 60px;
}

.text-field-fixed {
    -fx-font-weight: bold;
}

.text-field-error {
    -fx-text-fill: rgb(255, 84, 75);
}